# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*

virtualenv/
htmlcov/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/
yarn.lock
npm-debug.log

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# not include scripts because they come from external module
scripts/
migrations/